.heading-group-h1{
  position:relative;
}

/* .main-nav{
  position:static;
} */

.icon-menu{
  position:absolute;
  top: 10px;
  right: 10px;
  float:right;
  margin:15px;
}

.icon-menu:before{
  font-size:60px;
}

@media screen and ( min-width: 700px ){
  .icon-menu{
    display:none;
  }
}

/* //mobileVVVV */
@media screen and ( max-width: 699px ){
  nav>ul{
    display:none;
  }
}