.heading-group-h1{
  position:relative;
}

/* .main-nav{
  position:static;
} */

.icon-menu{
  position:absolute;
  top: 10px;
  right: 10px;
  float:right;
  margin:15px;
}

.icon-menu:before{
  font-size:60px;
}


/* nav>ul{
  list-style-type: none;
  margin:0px;
}
nav>ul>li{
  display: inline;
} */

/* li {
  display:inline-block;
} */

@media screen and ( min-width: 700px ){
  .icon-menu{
    visibility:hidden;
  }

  .icon-menu li{
    visibility:visible;
    display:inline-block;
  }

}

/* //mobileVVVV */
@media screen and ( max-width: 699px ){
  .icon-menu{
    display:inline-block;
  }
  
  .icon-menu li {
    display:none;
  }

  .icon-menu:hover li {
    display:block;
  }

}