@media screen and ( min-width: 800px ){
  .icon-menu{
    display:none;
  }
  .main-nav {
    
    background-color: green;
  }
}

@media screen and ( max-width: 799px ){
  .nav-link:after {
   content:"";
   display: table;
   clear: both;
  }

}